.btn {
  font-family: brandon-grotesque, sans-serif; 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 16px;
  padding: 12.5px 20px;
  line-height: 0;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(16px);
    padding: ratio-vw(12.5px) ratio-vw(20px);
  }

  &:focus {
    outline: none!important;
  }
}



.wpforms-submit {
  text-transform: uppercase!important;
  font-size: 16px!important;
  padding: 20px 25px!important;
  line-height: 0!important;
  background-color: #ccc6bb!important;
  color: #4d4d4d!important;
  float: right!important;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(16px)!important;
    padding: ratio-vw(20px) ratio-vw(25px)!important;
  }
}


.btn_gray {
  background-color: #ccc6bb;
  color: #4d4d4d;
}

.btn_darkgray {
  background-color: #4d4d4d;
  color: #fff;
}

.readmore i{
  margin-left: 20px;
}

div.wpforms-container-full .wpforms-form input,
div.wpforms-container-full .wpforms-form textarea {
  border: none!important;
}