@font-face {
	font-family: "WulkanDisplay Regular";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/WulkanDisplay-Regular.otf") format("opentype");
}

@font-face {
	font-family: "WulkanDisplay-Medium";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/WulkanDisplay-Medium.otf") format("opentype");
}

@font-face {
	font-family: "WulkanDisplay Bold";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/WulkanDisplay-Bold.otf") format("opentype");
}

@font-face {
	font-family: "WulkanDisplay Black";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/WulkanDisplay-Black.otf") format("opentype");
}


@font-face {
	font-family: "WulkanDisplay Black";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/WulkanDisplay-Black.otf") format("opentype");
}


h1, .h1 {
  font-size: 60px;
  line-height: 72px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(60px);
    line-height: ratio-vw(72px);
  }
}

@media only screen and (max-width: 1025px) {

  h1, .h1 {
    font-size: 40px;
    line-height: 52px;
  }
}

h2, .h2 {
  font-size: 48px;
  line-height: 72px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(48px);
    line-height: ratio-vw(72px);
  }
}
