@charset "UTF-8";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 40px;

  @include media-breakpoint-lg() {
    margin: ratio-vw(40px);
  }
}

h1, h2, h3, h4, h5 {
  font-display: swap;
  font-family: WulkanDisplay Black;
}

a, button, p, ul {
  font-display: swap;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500
}

a {
  color: #4d4d4d;
  font-weight: 600;
  text-decoration: underline
}

#project_info{
  margin-top:5%!important;
}

.vacatures {
  position: relative;

  .count {
    position: absolute;
    top: -5px;
    right: -15px;
    background: #cc1016;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



.contactform {
  font-display: swap !important;
  font-family: brandon-grotesque, sans-serif !important
}

$darkgray: #4d4d4d;
$lightgray: #ebebeb;
$greenbg: #ccc6bb;

.f-28 {
  font-size: 28px;
  line-height: 36px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(28px);
    line-height: ratio-vw(36px);
  }
}

.f-24,
.f-24 p {
  font-size: 24px;
  line-height: 36px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(24px);
    line-height: ratio-vw(36px);
  }
}

.f-20 {
  font-size: 20px;
  line-height: 36px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(20px);
    line-height: ratio-vw(36px);
  }
}

.f-18 {
  font-size: 18px;
  line-height: 36px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(18px);
    line-height: ratio-vw(36px);
  }
}

.text_gray {
  color: #ccc6bb;
}

.text_darkgray {
  color: #4d4d4d;
}

.bg_lightgray {
  background-color: #ebebeb
}

.bg_green {
  background-color: #ccc6bb;
}

.bg_darkgray {
  background-color: #4d4d4d;
}

.mw_500 {
  max-width: 500px;
}

.subpage_bg {
  height: 525px;
  background-size: cover !important;
  background-position: center!important;

  @include media-breakpoint-lg() {
    height: ratio-vw(525px);
  }
}

.error_bg {
  height: 85vh;
  background-size: cover !important;
  background-position: center!important;

  .error_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .h1 {
    margin-bottom: 25px;
    font-size: 100px;
    line-height: 60px;

    @include media-breakpoint-lg() {
      margin-bottom: ratio-vw(25px);
      font-size: ratio-vw(100px);
      line-height: ratio-vw(60px);
    }
  }

  p {
    font-size: 38px;

    @include media-breakpoint-lg() {
      font-size: ratio-vw(38px);
    }
  }
}

#post {
  padding: 75px 0;

  @include media-breakpoint-lg() {
    padding: ratio-vw(75px) 0;
  }
}

.side_title_left,
.side_title_right {
  font-family: "WulkanDisplay Black";
  font-size: 90px;
  line-height: 72px;
  position: absolute;
  z-index: 20;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(90px);
    line-height: ratio-vw(72px);
  }
}

.side_title_left {
  transform: rotate(90deg);
  transform-origin: left bottom;
  position: absolute;
  left: -5px;
  white-space: nowrap;

  @include media-breakpoint-lg() {
    left: - ratio-vw(5px);
  }
}

.side_title_right {
  transform: rotate(-90deg);
  transform-origin: right bottom;
  position: absolute;
  right: -3px;
  white-space: nowrap;

  @include media-breakpoint-lg() {
    right: - ratio-vw(3px);
  }
}

.side_title_left.home {
  bottom: 150px;

  @include media-breakpoint-lg() {
    bottom: ratio-vw(150px);
  }
}

.side_title_left.projects {
  bottom: 75px;

  @include media-breakpoint-lg() {
    bottom: ratio-vw(75px);
  }
}

.side_title_left.real {
  top: -160px;

  @include media-breakpoint-lg() {
    top: - ratio-vw(160px);
  }
}

.side_title_right.news {
  top: -235px;

  @include media-breakpoint-lg() {
    top: - ratio-vw(235px);
  }
}

#header {
  position: relative;

}

.home_slider {
  height: 92vh;
}

.home_slide {
  background-size: cover !important;
  width: 100%;
  height: 92vh;
}

.slider_text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
  text-align: center;
}

#intro {
  padding: 100px 0 450px 0;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0 ratio-vw(450px) 0;
  }
}

#projectintro {
  padding: 100px 0;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px);
  }
}

#projects {
  margin-top: -250px;
  position: relative;

  @include media-breakpoint-lg() {
    margin-top: - ratio-vw(250px);
  }

  .container {
    z-index: 2;
    position: relative;
  }

  &::after {
    content: "";
    background-color: $greenbg;
    position: absolute;
    height: 90%;
    width: 60%;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .project_title {
    padding: 30px 0px 25px 0px;

    @include media-breakpoint-lg() {
      padding: ratio-vw(30px) 0 ratio-vw(25px) 0;
    }
  }
}

.project_slider_arrows {
  position: absolute;
  bottom: -50px;

  @include media-breakpoint-lg() {
    bottom: - ratio-vw(50px);
  }

  .next_project,
  .prev_project {
    color: #000;
  }

  .prev_project {
    margin-right: 15px;

    @include media-breakpoint-lg() {
      margin-right: ratio-vw(15px);
    }
  }
}

#news_overview {
  margin-top: 300px;
  padding-bottom: 250px;
  position: relative;

  @include media-breakpoint-lg() {
    margin-top: ratio-vw(300px);
    padding-bottom: ratio-vw(300px);
  }

  &::after {
    content: "";
    background-color: $greenbg;
    position: absolute;
    height: 300px;
    width: 625px;
    left: 0;
    top: -150px;
    z-index: 1;

    @include media-breakpoint-lg() {
      height: ratio-vw(300px);
      width: ratio-vw(625px);
      top: - ratio-vw(150px);
    }
  }

  &::before {
    content: "";
    background-color: $lightgray;
    position: absolute;
    top: 75px;
    left: 0;
    height: 88%;
    width: 100%;

    @include media-breakpoint-lg() {
      top: ratio-vw(75px);
    }
  }
}

.news_block {
  z-index: 2;
  margin-top: -75px;
  padding-bottom: 40px;

  @include media-breakpoint-lg() {
    margin-top: - ratio-vw(75px);
    padding-bottom: ratio-vw(40px);
  }

  .news_img {
    height: 345px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include media-breakpoint-lg() {
      height: ratio-vw(345px);
    }
  }

  .readmore {
    position: absolute;
    bottom: 0;
  }

}

#real_estate {
  position: relative;
  padding-bottom: 100px;

  @include media-breakpoint-lg() {
    padding-bottom: ratio-vw(100px);
  }
}

.realestate {
  padding-top: 35px;

  @include media-breakpoint-lg() {
    padding-top: ratio-vw(35px);
  }
}

.realestate_slider {

  .slide-arrow {
    position: absolute;
    z-index: 18;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: $lightgray;
    opacity: 0.8;

    @include media-breakpoint-lg() {
      font-size: ratio-vw(60px);
    }

    &:hover {
      opacity: 1.0;
    }
  }

  .prev-arrow {
    left: 35px;

    @include media-breakpoint-lg() {
      left: ratio-vw(35px);
    }
  }

  .next-arrow {
    left: unset;
    right: 35px;

    @include media-breakpoint-lg() {
      right: ratio-vw(35px);
    }
  }
}

.realestate_slider_block {
  position: absolute;
  right: 0;
  top: -100px;

  @include media-breakpoint-lg() {
    top:  ratio-vw(-100px);
  }

  img {
    height: 800px;
    width: 100%;
    object-fit: cover;

    @include media-breakpoint-lg() {
      height:  ratio-vw(800px);
    }
  }

}

#cta {
  margin: 100px 0;
  position: relative;

  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-lg() {
      padding-top: ratio-vw(50px);
      padding-bottom: ratio-vw(50px);
    }

    &::after {
      content: "";
      background-color: $greenbg;
      position: absolute;
      height: 100%;
      width: 80%;
      right: 0;
      top: 0;
      z-index: 1;
      opacity: 0.3;
    }

    .col-sm-12 {
      z-index: 2;
      position: relative;
    }
  }
}

.contact_info {

  a {
    margin-right: 25px;
    color: $darkgray;

    @include media-breakpoint-lg() {
      margin-right: ratio-vw(25px);
    }

    i {
      margin-right: 10px;
      font-size: 14px;

      @include media-breakpoint-lg() {
        margin-right: ratio-vw(10px);
        font-size: ratio-vw(14px);
      }
    }
  }
}

.social_icons {
  display: inline-flex;

  a {
    margin-right: 5px;

    @include media-breakpoint-lg() {
      margin-right: ratio-vw(5px);
    }

    i {
      font-size: 18px;

      @include media-breakpoint-lg() {
        font-size: ratio-vw(18px);
      }
    }
  }
}

.slick-slide {
  outline: none !important;
}

#contact {
  padding: 100px 0;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0;
  }
}

#maps {
  margin-bottom: -5px;

  @include media-breakpoint-lg() {
    margin-bottom: - ratio-vw(5px);
  }
}

#whowheare_intro  {
  padding: 100px 0 250px 0px;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0 ratio-vw(250px) 0;
  }

  h1 {
    color: $darkgray;
  }

}

.team_row {
  margin-top: -100px;

  @include media-breakpoint-lg() {
    margin-top: - ratio-vw(100px);
  }
}

#whatwedo_intro {
  padding: 100px 0;
  margin-bottom: 100px;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0;
    margin-bottom: ratio-vw(100px);
  }
  
  h1 {
    color: $darkgray;
  }
}


#content_1, #content_2 {
  position: relative;
  padding: 100px 0;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0;
  }
}

#content_1 {
  margin-bottom: 50px;

  @include media-breakpoint-lg() {
    margin-bottom: ratio-vw(50px);
  }
}

.content_1_slider, .content_2_slider {

  .slide-arrow {
    position: absolute;
    z-index: 22;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: $lightgray;
    opacity: 0.8;

    @include media-breakpoint-lg() {
      font-size: ratio-vw(60px);
    }

    &:hover {
      opacity: 1.0;
    }
  }

  .prev-arrow {
    left: 35px;

    @include media-breakpoint-lg() {
      left: ratio-vw(35px);
    }
  }

  .next-arrow {
    left: unset;
    right: 35px;

    @include media-breakpoint-lg() {
      right: ratio-vw(35px);
    }
  }
}

#vacatures {
  margin-bottom: 100px;

  @include media-breakpoint-lg() {
    margin-bottom: ratio-vw(100px);
  }
}

#all_news_overview {
  padding: 100px 0;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0;
  }
}

.archive_news_block {
  padding-bottom: 40px;

  @include media-breakpoint-lg() {
    padding-bottom: ratio-vw(40px);
  }

  .readmore {
    position: absolute;
    bottom: 0;
  }
}

.backto {
  position: absolute;
  top: 15px;
}

.bottombar_wrapper a, .bottombar_wrapper p {
  color: $darkgray;
}


.home {
  #header {
    position: relative;
    height: calc(100vh - 40px);

    .header_video {
      width: 100%;
      height: calc(100vh - 40px);
      object-fit: cover;
      position: absolute;
      z-index: -1;
      cursor: none !important;
    }


    .slider_text {
      margin-top: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h1 {
        text-shadow: 0.5px 0.5px #3e3e3e;
      }
    }

    .sound-off, .sound-on {
      position: absolute;
      right: 15px;
      bottom: 0;
      background: $greenbg;
      padding: 20px;
      cursor: pointer;
      display: none;

      i {
        font-size: 28px;
      }

      &.active {
        display: block;
      }
    }
  }
}

.accordion {
  border-radius: 5px;
  font-size: 1rem;
  line-height: 26px;
  margin: 0 auto 10px;
  width: 100%
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .accordion {
    border-radius: .2777777778vw;
    line-height: 1.4444444444vw;
    margin-bottom: .5555555556vw
  }
}

.accordion-header {
  align-items: center;
  background-color: #ccc6bb;
  border-bottom: 1px solid #fff;
  color: #4d4d4d;
  cursor: pointer;
  display: flex;
  font-display: swap;
  font-family: WulkanDisplay Black;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 38px;
  padding: 15px 25px;
  transition: all .3s
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .accordion-header {
    font-size: 1.6666666667vw;
    line-height: 2.1111111111vw;
    padding: .8333333333vw 1.3888888889vw
  }
}

.accordion__item .accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, .08)
}

.accordion-header:hover {
  position: relative;
  z-index: 5
}

.accordion-body {
  background: #ccc6bb;
  display: none
}

.accordion-body__contents {
  color: #4d4d4d;
  font-display: swap;
  font-family: brandon-grotesque, sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  padding: 1.5em 15px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .accordion-body__contents {
    font-size: 1.3333333333vw;
    line-height: 2vw
  }
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent
}

.accordion-header {
  margin-top: 20px;
  position: relative
}

.accordion-header:after {
  content: "+";
  float: right;
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  right: 25px;
  transition: all .3s
}

.accordion-header.on:after {
  content: "-"
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg)
}

.accordion__item.active .accordion-header {
  background: #000
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535
}


#whatwedo_intro {
  margin-bottom: 100px;
  padding: 100px 0
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #whatwedo_intro {
    margin-bottom: 5.5555555556vw;
    padding: 5.5555555556vw 0
  }
}

#whatwedo_intro h1 {
  color: #4d4d4d
}


#content_1, #content_2, #content_3, #template_content {
  padding: 100px 0;
  position: relative
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #content_1, #content_2, #content_3, #template_content {
    padding: 5.5555555556vw 0
  }
}

#template_content .contactform input[type=email], #template_content .contactform input[type=text] {
  border: 1px solid #ccc6bb !important
}

#content_1, #content_3 {
  margin-bottom: 100px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #content_1, #content_3 {
    margin-bottom: 5.5555555556vw
  }
}

#content_1:after, #content_3:after {
  background-color: #ccc6bb;
  left: 0
}

#content_1:after, #content_2:after, #content_3:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 60%;
  z-index: -1
}

#content_2:after {
  background-color: #ebebeb;
  right: 0
}

#content_3 {
  margin-top: 100px
}

.content_img {
  max-height: 700px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.content_1_slider .slide-arrow, .content_2_slider .slide-arrow, .content_3_slider .slide-arrow {
  color: #ebebeb;
  font-size: 60px;
  left: 50%;
  opacity: .8;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 22
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .content_1_slider .slide-arrow, .content_2_slider .slide-arrow, .content_3_slider .slide-arrow {
    font-size: 3.3333333333vw
  }
}

.content_1_slider .slide-arrow:hover, .content_2_slider .slide-arrow:hover, .content_3_slider .slide-arrow:hover {
  opacity: 1
}

.content_1_slider .prev-arrow, .content_2_slider .prev-arrow, .content_3_slider .prev-arrow {
  left: 35px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .content_1_slider .prev-arrow, .content_2_slider .prev-arrow, .content_3_slider .prev-arrow {
    left: 1.9444444444vw
  }
}

.content_1_slider .next-arrow, .content_2_slider .next-arrow, .content_3_slider .next-arrow {
  left: unset;
  right: 35px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .content_1_slider .next-arrow, .content_2_slider .next-arrow, .content_3_slider .next-arrow {
    right: 1.9444444444vw
  }
}

.content_slider_block.first {
  right: 0;
  top: 0
}

.content_slider_block.second {
  left: 0;
  top: 0
}



.archive_news_block img {
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.vacature_info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: --moz-max-content
}

.project_slide_img {
  height: 700px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .project_slide_img {
    height: 38.8888888889vw !important
  }
}

.news_img_single {
  height: 500px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .news_img_single {
    height: 27.7777777778vw !important
  }
}

#vacatures {
  margin-bottom: 100px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #vacatures {
    margin-bottom: 5.5555555556vw
  }
}

#template_intro {
  padding: 100px 0
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #template_intro {
    padding: 5.5555555556vw 0
  }
}

#template_intro h1 {
  color: #4d4d4d
}

.usp {
  text-align: center
}

.usp p {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 0
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .usp p {
    font-size: 1.5555555556vw
  }
}

.usp p i {
  color: #228b22;
  font-size: 22px;
  margin-right: 7px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .usp p i {
    font-size: 1.3333333333vw;
    margin-right: .3888888889vw
  }
}

#to_buy {
  background-color: #ccc6bb;
  padding: 75px 0
}

#to_buy h3 {
  color: #4d4d4d;
  margin-bottom: 25px;
  text-align: center
}

#to_buy .points {
  -moz-columns: 3;
  column-count: 3;
  list-style: none
}

#to_buy .points li {
  color: #4d4d4d;
  font-size: 20px;
  margin-bottom: 5px
}

#to_buy .points li:before {
  content: "";
  font-family: 'Font Awesome 5 Pro';
  font-size: 18px;
  margin-right: 10px;
  transition: all .2s ease-in-out
}

#steps {
  background-color: #4d4d4d;
  margin-bottom: 100px;
  padding: 100px 0
}

#steps .title {
  color: #fff;
  margin-bottom: 25px
}

#steps .steps {
  padding: 50px 25px;
  position: relative;
  text-align: center;
  z-index: 1
}

#steps .steps h4 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 28px;
  margin-bottom: 0
}

#steps .steps p {
  font-size: 20px;
  margin: 0 auto;
  position: relative;
  width: 200px;
  z-index: 1
}

#steps .step-1, #steps .step-3 {
  background-color: #ebebeb
}

#steps .step-2, #steps .step-4 {
  background-color: #ccc6bb
}

.triangle-right {
  border-left: 40px solid #ebebeb
}

.triangle-right, .triangle-right-2 {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  height: 0;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  z-index: 0
}

.triangle-right-2 {
  border-left: 40px solid #ccc6bb
}

#recent_projects {
  padding-bottom: 75px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #recent_projects {
    padding-bottom: 4.1666666667vw
  }
}

.personal_img {
  height: 515px;
  -o-object-fit: cover;
  object-fit: cover
}

#project_overview {
  position: relative
}

.project.odd:first-child {
  margin-top: -250px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .project.odd:first-child {
    margin-top: -13.8888888889vw
  }
}

.project.odd {
  position: relative
}

.project.odd:after {
  background-color: #ccc6bb;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  z-index: 1
}

.project.even {
  margin-bottom: 150px;
  position: relative
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .project.even {
    margin-bottom: 8.3333333333vw
  }
}

.project.even:after {
  background-color: #ebebeb;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 60%;
  z-index: 1
}

.odd_project {
  margin-bottom: 150px;
  padding-bottom: 65px;
  padding-top: 65px;
  position: relative
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .odd_project {
    margin-bottom: 8.3333333333vw;
    padding-bottom: 3.6111111111vw;
    padding-top: 3.6111111111vw
  }
}

.odd_project .col-sm-12 {
  position: relative;
  z-index: 2
}

.even_project {
  padding-bottom: 65px;
  position: relative
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .even_project {
    padding-bottom: 3.6111111111vw
  }
}

.even_project .col-sm-12 {
  position: relative;
  z-index: 2
}

.project_img {
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.next_oddproject, .prev_oddproject {
  bottom: -75px;
  color: #000;
  font-size: 34px;
  left: 0;
  position: absolute
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .next_oddproject, .prev_oddproject {
    bottom: -4.1666666667vw;
    font-size: 1.8888888889vw
  }
}

.next_oddproject {
  margin-left: 30px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .next_oddproject {
    margin-left: 1.6666666667vw
  }
}

.next_evenproject, .prev_evenproject {
  bottom: -75px;
  color: #000;
  font-size: 34px;
  position: absolute;
  right: 0
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .next_evenproject, .prev_evenproject {
    bottom: -4.1666666667vw;
    font-size: 1.8888888889vw
  }
}

.prev_evenproject {
  margin-right: 30px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .prev_evenproject {
    margin-right: 1.6666666667vw
  }
}

.status {
  background-color: #4d4d4d;
  color: #fff;
  margin-bottom: 5px;
  padding: 3px 5px;
  width: max-content;
}


#post {
  padding: 75px 0
}

@media (max-width: 1799px)and (min-width: 1024px) {
  #post {
    padding: 4.1666666667vw 0
  }
}

.post_image .date {
  background-color: #4d4d4d;
  bottom: 0;
  color: #fff;
  margin-bottom: 4px;
  padding: 3px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .post_image .date {
    margin-bottom: .2222222222vw;
    padding: .1666666667vw
  }
}

.singlepost_date {
  background-color: #4d4d4d;
  color: #fff;
  padding: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .singlepost_date {
    padding: .1666666667vw
  }
}

.route p {
  font-size: 18px
}

.side_title_right, ç .side_title_left {
  font-family: WulkanDisplay Black;
  font-size: 90px;
  line-height: 72px;
  position: absolute;
  z-index: 20
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_right, ç .side_title_left {
    font-size: 5vw;
    line-height: 4vw
  }
}

.side_title_left {
  left: -5px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left bottom;
  white-space: nowrap
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_left {
    left: -.2777777778vw
  }
}

.side_title_right {
  position: absolute;
  right: -3px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  white-space: nowrap
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_right {
    right: -.1666666667vw
  }
}

.side_title_left.home {
  bottom: 150px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_left.home {
    bottom: 8.3333333333vw
  }
}

.side_title_left.projects {
  bottom: 75px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_left.projects {
    bottom: 4.1666666667vw
  }
}

.side_title_left.real {
  top: -160px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_left.real {
    top: -8.8888888889vw
  }
}

.side_title_right.news {
  top: -235px
}

@media (max-width: 1799px)and (min-width: 1024px) {
  .side_title_right.news {
    top: -13.0555555556vw
  }
}

