#project_overview {
  position: relative;
}

.project.odd:first-child {
  margin-top: -250px;

  @include media-breakpoint-lg() {
    margin-top: - ratio-vw(250px);
  }
}


.project.odd {
  position: relative;

  &::after {
    content: "";
    background-color: $greenbg;
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.project.even {
  position: relative;
  margin-bottom: 150px;

  @include media-breakpoint-lg() {
    margin-bottom: ratio-vw(150px);
  }

  &::after {
    content: "";
    background-color: $lightgray;
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.odd_project {
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
  margin-bottom: 150px;

  @include media-breakpoint-lg() {
    padding-top: ratio-vw(65px);
    padding-bottom: ratio-vw(65px);
    margin-bottom: ratio-vw(150px);
  }

  .col-sm-12 {
    position: relative;
    z-index: 2;
  }
}

.even_project {
  padding-bottom: 65px;
  position: relative;

  @include media-breakpoint-lg() {
    padding-bottom: ratio-vw(65px);
  }

  .col-sm-12 {
    position: relative;
    z-index: 2;
  }
}


.project_img {
  height: 450px;
  object-fit: cover;
  object-position: center;
}


.next_oddproject,
.prev_oddproject {
  position: absolute;
  bottom: -75px;
  font-size: 34px;
  left: 0;
  color: #000;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(34px);
    bottom: - ratio-vw(75px);
  }
}

.next_oddproject {
  margin-left: 30px;

  @include media-breakpoint-lg() {
    margin-left: ratio-vw(30px);
  }
}

.next_evenproject,
.prev_evenproject {
  position: absolute;
  bottom: -75px;
  font-size: 34px;
  right: 0;
  color: #000;

  @include media-breakpoint-lg() {
    bottom: - ratio-vw(75px);
    font-size: ratio-vw(34px);
  }
}

.prev_evenproject {
  margin-right: 30px;

  @include media-breakpoint-lg() {
    margin-right: ratio-vw(30px);
  }
}


.filters-button-group button {
  background-color: transparent;
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px 10px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: --moz-max-content
}

.filters-button-group button.is-checked {
  background-color: #4d4d4d;
  color: #fff
}

.gerealiseerd, .in-ontwikkeling {
  order: -1
}

.element-item {
  margin-bottom: 35px
}

.element-item .content {
  overflow: hidden;
  position: relative
}

.element-item .project_img {
  height: 455px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  transition: all .3s ease-in-out
}

.element-item .project_img:hover {
  transform: scale(1.1)
}

.element-item .label {
  background-color: #4d4d4d;
  color: #fff;
  left: 15px;
  margin-bottom: 5px;
  padding: 3px 5px;
  position: absolute;
  top: 15px
}

.element-item .project_content {
  background-color: rgba(77, 77, 77, .3);
  bottom: 0;
  padding: 15px;
  position: absolute;
  width: 100%
}

.element-item .project_content h3, .element-item .project_content p {
  color: #ebebeb;
  margin-bottom: 0
}

.element-item .project_content p {
  font-size: 18px
}

#single_project_intro {
  padding: 100px 0 450px 0;
  position: relative;

  @include media-breakpoint-lg() {
    padding: ratio-vw(100px) 0 ratio-vw(450px) 0;
  }
}

#project_content {
  margin-top: -350px;
  padding: 60px 0;
  z-index: 1;

  &::after {
    background-color: #ccc6bb;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    z-index: -1
  }
}


#project_info {
  padding: 75px 0 25px;

  .info {
    margin-bottom: 15px;

    h4 {
      color: #4d4d4d;
      font-family: brandon-grotesque, sans-serif;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: uppercase
    }

    p {
      color: #4d4d4d;
      font-size: 20px
    }
  }
}
